# Dapr scheduler data
dapr_scheduler/

# Java
target/
*.class
*.jar
*.war
*.ear
*.nar
hs_err_pid*
replay_pid*
.classpath
.project
.settings/
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# .NET
bin/
obj/
*.dll
*.pdb
*.exe
*.user
*.suo
.vs/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
*.egg-info/
dist/
build/

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db
